<article class="episode" [class.viewed]="capitulo.visto">
  <div class="episode-number">{{ capitulo.numeroCapitulo }}</div>

  <div class="episode-body">
    <button type="button" class="episode-title" (click)="toggleDescription()">
      Ep{{ capitulo.numeroCapitulo }}. {{ capitulo.nombreCapitulo }}
    </button>
    <p *ngIf="descriptionVisible" class="description">{{ capitulo.descripcion }}</p>
    <button
      type="button"
      class="view-button"
      (click)="viewEpisode()"
    >
      Ver
    </button>
  </div>

  <span class="status" [class.success]="capitulo.visto">
    {{ capitulo.visto ? 'Visto' : (saving ? 'Guardando...' : 'Pendiente') }}
  </span>
</article>
